<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="by.itacademy.palina.task">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".classwork.cw1.CW1" />
        <activity android:name=".home.hw1.HW1" />
        <activity android:name=".home.hw2.HW2" />
        <activity android:name=".classwork.cw1.CW1_1" />
        <activity android:name=".home.hw3.HW3" />
        <activity android:name=".home.hw4.HW4" />
        <activity android:name=".home.hw5.HW5" />
        <activity android:name=".home.hw6.HW6" />
        <activity android:name=".home.hw7.HW7" />
        <activity android:name=".classwork.cw2.CW2"></activity>
        <activity android:name=".classwork.cw3.CW3"></activity>
        <activity android:name=".classwork.cw4.CW4"></activity>

        <service android:name=".classwork.cw3.MyService"></service>
        <service android:name=".classwork.cw3.MyIntentService"></service>
        <service android:name=".home.hw6.HW6WiFiService" />
    </application>

</manifest>